.All{
    display: flex;
    height: 100vh;
}

.A_pageRight{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    height: 100vh;
    margin-top: -50px;
    flex: 1;
}
.A_pageLeft{
    flex: 1;
    position: relative;
}

.A_pageRightAll{
    padding: 50px;
    
}
.title{
    text-align: left;
    font-weight: 350;
    font-size: x-large;
    color: green;
    animation: backInRight;
    animation-duration: 2s;
}
.selfTitle{
    font-style: italic;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
    margin: 10px 0;
}
.biography{
    color: grey;
    text-align: justify;

}

.aboutImg{
    clip-path: circle(65% at 50% 50%);
    object-fit: cover;
    width: 50%;
    height: 50%;
    margin-top: 50px;
}
