
body{
    background-color: rgb(215, 215, 215);
}

.infoBox{
    display: flex;
    height: 100vh;
    
}
.pageLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -50px;
    flex: 1;
}
.pageRight{
    flex: 1;
    position: relative;
}

.pageLeftAll{
    padding: 50px;
    
}
.main{   
    color: rgb(0, 0, 0);
    font-weight: 350;
    font-size: x-large;
}
.name{
    font-style: italic;
    animation: backInLeft;
    animation-duration: 2s;
}

.subText{
   color: grey;
}

.skillContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills{
    font-weight: bold;
    margin-right: 10px;
}
.logos{
    display: flex;
    gap: 30px;
}
.logos img{
    width: 30px;
    height: auto;
    animation: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
}
.logo1{
    animation: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.logo2{
    animation: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
.logo3{
    animation: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}
.logo4{
    animation: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 4s;
}
.logo5{
    animation: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 5s;
}
.logo6{
    animation: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 6s;
}
.logo7{
    animation: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 7s;
}
.imgMe {
    clip-path: polygon(38% 0, 100% 0%, 100% 100%, 0 100%);
    object-fit: cover;
    width: 100%;
    height: 100%;

}


