.infoBox{
    display: flex;
    height: 100vh;
}
.pageLeft{
    flex: 1;
}
.pageRight{
    flex: 1;
}

.pageLeftAll{
    padding: 50px;
}
.main{   
    color: rgb(0, 0, 0);
    font-weight: 350;
    font-size: x-large;
    
   
    
}
.name{
    font-style: italic;
    
}

.subText{
   color: grey;
}

.skillContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills{
    font-weight: bold;
    margin-right: 10px;
}
.logos{
    display: flex;
    gap: 10px;
}
.logos img{
    width: 30px;
    height: auto;
}