*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    background-color: cadetblue;
    color: white;
}
.Nav a{
    color: inherit;
}